#goals_root {
    -fx-background-image: url('../backgrounds/goals_background.png');
}

.budget_card {
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-background-insets: 10 10 10 10;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 2, 2);
}
.budget_card VBox {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

.budget_card Label {
    -fx-text-fill: white;
}

#month_expense_card {
    -fx-background-color: rgba(243, 14, 14, 0.7);
}

#month_income_card {
   -fx-background-color: rgba(16, 228, 98, 0.7);
}

.text_font{
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

#goals_label{
    -fx-background-color: rgba(243, 198, 35, 0.8);
}

#goals_list{
    -fx-background-color: rgba(244, 246, 255, 0.8);
    -fx-font-size: 16;

}

.list-cell {
    -fx-background-color: rgba(244, 246, 255, 0.6);
    -fx-text-fill: black;
}

.list-cell:even {
    -fx-background-color: rgba(211, 211, 211, 0.6);
}

.list-cell:selected {
    -fx-background-color: rgba(16, 228, 98, 0.7);
}

.goals_btn {
    -fx-background-color: #fff7bd;
}

.goals_btn:hover {
    -fx-background-color: #f0f0f0;
}