#navbar {
    -fx-background-color: rgba(235, 131, 23, 0.7);
    -fx-border-color: black;
    -fx-border-width: 2;
}

#top_navbar {
    -fx-alignment: top-center;
}

#bottom_navbar {
    -fx-alignment: bottom-center;
}

.nav_tab {
    -fx-alignment: center;

}

#nav_menu {
   -fx-border-color: black;
   -fx-background-color: rgba(16, 55, 92, 0.5);
   -fx-border-width: 2 2 2 0;

}

#profile_navbar {
    -fx-alignment: center-left;
    -fx-background-color: rgba(244, 246, 255, 0.7);
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
}

#profile_details {
    -fx-alignment: center-left;
}

#daily_challenges_details {
    -fx-background-insets: 10;
    -fx-padding: 20;
    -fx-background-color: rgba(243, 198, 35, 0.5);
}

.text_font{
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

.progress-bar .bar {
    -fx-background-color: rgba(0, 255, 115, 0.5);
}

#inner_box{
     -fx-background-color: rgba(243, 198, 35, 0.08);
}

