.subscription_card {
    -fx-background-color: rgba(43, 173, 11, 0.7);
    -fx-background-radius: 10;
    -fx-background-insets: 10;
}

.subscription_card .info {
    -fx-padding: 30;
}

.subscription_card .options {
    -fx-padding: 30;
}

.text_font{
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

.subscription_card .button {
    -fx-background-color: #FFC800;
    -fx-background-radius: 0;
    -fx-border-color: #DA8B30;
    -fx-padding: 5 15 5 15;
    -fx-border-width: 2;
}

.subscription_card .button:hover {
    -fx-background-color: #FFC800;
    -fx-background-radius: 0;
    -fx-border-color: #DA8B30;
    -fx-padding: 5 15 5 15;
    -fx-border-width: 2;
}
