.subscription_background{
    -fx-background-image: url('../backgrounds/subscription_background.png');
}

#subscriptions_pane {
    -fx-background-color: rgba(16, 55, 92, 0.6);
    -fx-background-insets: 10;
    -fx-padding: 20;
    -fx-alignment: center;
}

.subscription_btn {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 0;
}

.subscription_btn:hover {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .viewport{
    -fx-background-color: rgba(16, 55, 92, 0.01);
}

.scroll-pane{
    -fx-background-color: rgba(16, 55, 92, 0.01);
}

