.transaction_background{
    -fx-background-image: url('../backgrounds/transaction_background.png');
}

#status_bar {
    -fx-background-color: rgba(16, 55, 92, 0.6);
    -fx-background-radius: 10px;
    -fx-background-insets: 5px;
    -fx-min-height: 100px;
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-alignment: center;
}

#info_tab {
    -fx-alignment: center;
}
#daily_budget_border {
    -fx-background-color: rgba(16, 55, 92, 0.6);
    -fx-background-radius: 10px;
    -fx-background-insets: 5px;
    -fx-padding: 10;
    -fx-alignment: center;
}

#daily_budget_border ListView {
    -fx-background-radius: 10px;
}

#transactions_stat_container {
    -fx-alignment: center;
}

#number_of_transactions {
    -fx-background-color: #80ED96;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

#transactions_bar {
    -fx-background-color: #D9D9D9;
    -fx-alignment: center;
}

.text_font{
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}

.list-cell {
    -fx-background-color: rgba(244, 246, 255, 0.6);
}

.list-cell:even {
    -fx-background-color: rgba(211, 211, 211, 0.6);
    -fx-background-radius: 10px;
}

#transaction_label{
    -fx-text-fill: rgba(255, 255, 255);
}

.scroll-pane .viewport{
    -fx-background-color: rgba(244, 246, 255, 0.6);
}

.scroll-pane{
    -fx-background-color: rgba(244, 246, 255, 0.6);
}

.transaction_btn {
    -fx-background-color: #fff7bd;
}

.transaction_btn:hover {
    -fx-background-color: #f0f0f0;
}